{% extends 'base.html' %}

{% block content %}

<style>
.jumbo{
	background-color: white;
    width: 15rem;
    margin-right: 1rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.text{
    text-align: center;
}
</style>

<h1> Cards </h1>
<hr class="my-4">

<div class="container">
	<div class="row">
		{% for card in cardsObj %}
			<div class="jumbotron jumbo">
				Belongs to<strong> {{ card.name }}</strong><br>
				Scheduled at:<strong> {{card.time}}</strong>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
